.*
!.gitignore
!.github
!.dockerignore
!.docker-nix

output
output-es
generated-docs
node_modules

package-lock.json
*.lock

openapitools.json

src/core/Buzgibi/Api/Foreign/BuzgibiBack
src/lib/Buzgibi/Web/Bowser

app/*.js

api*.json
